.input-form {
    background-color: #f64c4c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 7px;

    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

input {
    width: 85%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 7px;
    font-size: 18px;
    border: none;
}

.add-but {
    margin-left: 1.5%;
    border: none;
    width: 12%;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    color: rgb(105, 105, 105);
}

.add-but:hover {
    background-color: rgb(132, 132, 132);
    color: rgb(255, 255, 255);
}