.todo-list-box {
    display: flex;
    /* background-color: #CEBC81; */
    /* border: 1px solid blue; */
    border-bottom: 1px solid #d0d0d0;

    box-sizing: border-box;
    justify-content: center;
    padding: 2px;
    margin: 15px 0 8px 0;

    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

.item {
    display: block;
    /* background-color: black; */
    box-sizing: border-box;
}

.item-1 {
    width: 4.16%;
    padding-left: -4px;
    text-align: center;
    padding-top: 2px;
}

.item-3 {
    width: 86.33%;
    padding-left: 6px;
    margin-right: 10px;
    margin-bottom: 15px;
    /* background-color: rgb(159, 167, 182); */
    word-wrap: break-word;
    justify-content: center;

}

.item-4 {
    width: 8.33%;
    text-align: center;
    margin: 0 auto;
    padding-top: 3px;

    display: flex;
    justify-content: center;
}

.done-but {
    cursor: pointer;
    font-size: 18px;
}

.done-but:hover {
    color: #f33152;
}

.edit-but {
    cursor: pointer;
    margin-right: 9px;
    margin-top: 1px;
    color: rgba(61, 79, 108, 0.773);
}

.edit-but:hover {
    color: rgba(49, 63, 86, 0.773);
    font-size: 22px;
}

.delete-button {
    margin-right: 2px;
    cursor: pointer;
    color: rgba(148, 0, 0, 0.602);
}

.delete-button:hover {
    color: rgb(164, 0, 0);
    font-size: 22px;
}

.todo-deco {
    text-decoration: line-through;
    color: rgb(129, 129, 129);

}

.done-but-deco {
    color: #f33152;
}