.todo-list-box {
    display: flex;
    background-color: bisque;
    border: 1px solid blue;
    box-sizing: border-box;
    justify-content: center;
    padding: 2px;
    margin:10px 0;
}

.item {
    display: block;
    /* background-color: black; */
    box-sizing: border-box;
}

.item-1 {
    width: 4.16%;
    padding-left: -4px;
    text-align: center;
    padding-top: 2px;
}

.item-2 {
    width: 1.16%;
    text-align: center;
}

.item-3 {
    width: 86.33%;
    padding-left: 6px;
    /* background-color: rgb(159, 167, 182); */
    word-wrap: break-word;
    justify-content: center;
}

.item-4 {
    width: 8.33%;
    text-align: center;
    margin: 0 auto;
    padding-top: 2px;
}

