* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

section {
    background-color: pink;
    width: 600px;
    /* height: 100px; */
    padding: 15px;
    margin: 0 auto ;
}

.todo-title {
    margin: 10px;
}
